.code-block-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #282c34;
    color: #abb2bf;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.code-block-textarea {
    height: 50vh;
    width: 60%;
    max-width: 800px;
    margin: 15px;
    background-color: #1e2127;
    color: #abb2bf;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    outline: none;
}

.code-block-textarea:focus {
    border-color: #61afef;
}

.smiley-face {
    margin-top: 1rem;
    font-size: 4rem;
    line-height: 2rem;
    visibility: hidden;
    text-align: center;
    color: #98c379;
}

.smiley-face.visible {
    visibility: visible;
}

h2{
    color: #c8f9ff;
}

.return-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    background-color: #309cf8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.return-button:hover {
    background-color: #70bdff;
}

@media (max-width: 767px) {
    .code-block-textarea {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .code-block-textarea {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .code-block-textarea {
        width: 60%;
    }
}