.code-blocks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #282c34;
    color: #abb2bf;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.code-blocks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    width: 80%;
    padding: 1rem;
}

.code-block-link {
    text-decoration: none;
    color: inherit;
}

.code-block {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #1e2127;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.code-block:hover {
    transform: translateY(-5px);
    border-color: #61afef;
}

h1{
    color: #c8f9ff;
}

@media (min-width: 768px) {
    .code-blocks-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
